<div class="grid-container">

<h1>Clay's Commercial Compound</h1>

<div class="happyPeople">
<a href="users"> <img src="happy-people.jpg"/></a>
</div>

<div class="peterbiltFirst">
<a href="/trucks"> <img src="Custom1.jpg"/>
</a>
</div>

<div class="trailerTime">
<a href="trailers"> <img src="great-dane-trailers.jpg"/></a>
</div>
</div>