<div class="grid-container">

    <h1>Clay's Commercial Compound</h1>

</div>


<div class="grid-container2">

    <div class="happyPeople">
        <a href="users"> <img src="happy-people.jpg"/></a>
        <div class="text-block">
            <h3>Staff</h3>
            <p>The people that make it go!</p>
        </div>
    </div>



    <div class="peterbiltFirst">
        <a href="/trucks"> <img src="Custom1.jpg"/></a>
                <div class="text-block">
            <h3>Trucks</h3>
            <p>The Main thing!</p>
        </div>
    </div>



    <div class="trailerTime">
        <a href="trailers"> <img src="great-dane-trailers.png"/></a>
                <div class="text-block">
            <h3>Trailers</h3>
            <p>The thing behind the Main thing!</p>
        </div>
    </div>

</div>



