 body {
    font-family: sans-serif;
    background-image: url("The-Long-Road-Ahead.jpg");
    background-size: cover;
 }
 .peterbiltFirst img {
    border-radius: 25px;
    width: 450px;
    max-height: 320px;
    padding: 3px;
 }
 .happyPeople img {
    border-radius: 25px;
    width: 450px;
    max-height: 320px;
    padding: 3px;
 }
 .trailerTime img {
    border-radius: 25px;
    width: 450px;
    max-height: 320px;
    padding: 3px;
 }
 .truck-show-page {
    color: blue;
}  
.goHome img {
    height: 50px;
}
.goTeam img {
    height: 50px;
}

.goFull img {
    height: 50px;
}
