 h1 {
   font-family: 'Acme', sans-serif;
   font-size: 120px;
   color: white;
   opacity: 0.8;
   text-align: center;
 }

 .wrapper1 {
    max-width: 300px;
    background: white;
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    opacity: .5;
    border-radius: 25px;
 }

 .wrapper2 {
    /* display: grid; */
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    
 }
 
 .grid-container {
    display: grid;
 }

 .grid-container2 {
    display: grid;
    grid-template-rows: 800px;
    grid-template-columns: 33% 33% 33%;
    position: relative;
    /* max-width: 800px; */
    margin: 0 auto;
    /* align-items: center; */
}

.grid-container2 .text-block {
   position: absolute;
   top: 209px;
   background: rgba(81, 139, 207, .5);
   color: white;
   width: 24%;
   font-size: 21px;
   text-align: center;
   border-radius: 25px;
}

 body {
    font-family: sans-serif;
    background-image: url("The-Long-Road-Ahead.jpg");
    background-size: cover;
 }

 a button {
   font-size: 20px;
   border: 5px solid white;
   background: rgba(81, 139, 207, .5);
   color: white;
   margin-top: 2em;
 }
 .peterbiltFirst {
   display: flex;
   justify-content: center;
 }
 .peterbiltFirst img {
   border:5px solid white;
    border-radius: 25px;
    width: 450px;
    max-height: 320px;
    padding: 3px;
 }
 .happyPeople img {
   border:5px solid white;
    border-radius: 25px;
    width: 450px;
    max-height: 320px;
    padding: 3px;
 }
 .happyPeople {
   display: flex;
   justify-content: center;
 }
 .trailerTime {
   display: flex;
   justify-content: center;
 }

 .trailerTime img {
    border:5px solid white;
    border-radius: 25px;
    width: 450px;
    height: 320px;
    padding: 3px;
 }
 /* .truck-show-page {
    color: blue;
}   */
.goHome img {
    height: 50px;
}
.goHome {
   padding-top: 2em;
   display: flex;
   justify-content: center;
}
.goTeam img {
    height: 50px;
}
.goTeam {
   padding-top: 2em;
   display: flex;
   justify-content: center;
}
.goFull img {
    height: 50px;
}
.goFull {
   padding-top: 2em;
   display: flex;
   justify-content: center;
}
.wrapper3 {
   background-color: rgba(81, 139, 207, .5);
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.edit1 a {
   display: flex;
   justify-content: center;
   font-size: 50px;
   color: white;
}
.truck-show-page {
  max-height: 500px;

}
.truck-show-page h2{
   display: grid;
   justify-content: center;
   color: white;
   font-size: 75px;
}
.truckDelete {
   display: flex;
   justify-content: center;
}
.delbutton1 {
   font-size: 20px;
   background-color: rgba(81, 139, 207, .5);
   border: 5px solid white;
   color: white;
   margin-top: 2em;
}
.optionsHeadline {
   font-size: 100px;
   text-align: center;
   color: white;
   opacity: .7;
}
.selectTruck {
   display: flex;
   justify-content: center;
   font-size: 30px;
   padding: 10px 8px 10px 14px;
}
.selectTruck #Options {
   font-size: 35px;
   border: 5px solid white;
   background-color: rgba(81, 139, 207, .5);
   color: white;
   width: 450px;
}
.selectColor {
   display: flex;
   justify-content: center;
   font-size: 30px;
   padding: 10px 8px 10px 14px;
}
.selectColor #Color {
   font-size: 35px;
   border: 5px solid white;
   background-color: rgba(81, 139, 207, .5);
   color: white;
   width: 450px;
}
.selectStatus {
   display: flex;
   justify-content: center;
   font-size: 30px;
   padding: 10px 8px 10px 14px;
}
.selectStatus #Status {
   font-size: 35px;
   border: 5px solid white;
   background-color: rgba(81, 139, 207, .5);
   color: white;
   width: 450px;
}
.selectEngine {
   display: flex;
   justify-content: center;
   font-size: 30px;
   padding: 10px 8px 10px 14px;
}
.selectEngine #Engine {
   font-size: 35px;
   border: 5px solid white;
   background-color: rgba(81, 139, 207, .5);
   color: white;
   width: 450px;
}
.updateButton {
   display: grid;
   justify-content: center;
}

.updateTruck {
   display: flex;
   width: 300px;
   font-size: 35px;
   color: rgb(81, 139, 207);
   background-color: rgba(255, 255, 255, .5);
   border: 5px solid rgb(81, 139, 207);
   justify-content: center;
}



