 body {
    font-family: sans-serif;
    background-image: url("/Users/macbookpro/ga-sei/project-2/public/The-Long-Road-Ahead.jpg");
    background-size: auto;
    background-position: center;
 }
 .truck-show-page {
    color: blue;
}  
