<form method="POST" action="/trucks">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
<select name="Make" value="Great Dane">
        
    <select name="Model Year">
        <option value="Sahara 2019">Sahara 2019</option>
        <option value="Sahara 2020">Sahara 2020</option>
        <option value="Champion 2019">Champion 2019</option>
        <option value="Champion 2020">Champion 2020</option>
    </select>
  
</select>

<select name="Make" value="Hyundai">

    <select name="Model Year">
        <option value="Hy-Cube 2019">Hy-Cube 2019</option>
        <option value="Hy-Cube 2020">T680 2021</option>
        <option value="Composite 2019">Composite 2019</option>
        <option value="Composite 2020">Composite 2020</option>
        <option value="Composite XT 2019">Composite XT 2019</option>
        <option value="Composite XT 2020">Composite XT 2020</option>
    </select>

</select>

    <select name="Status">
        <option value="Available">Available</option>
        <option value="Not available">Not available</option>
        <option value="Coming soon">Coming soon</option>
    </select>
    
    <select name="Type">
        <option value="Van">Van</option>
        <option value="Flatbed">Flatbed</option>
        <option value="Reefer">Reefer</option>
    </select>

    <input type="submit" value="Add Trailer"/>
</form>