<form method="POST" action="/trailers">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <label for="Options">Options</label>
<select id="Options" name="Make" value="Options">
        
        <option value="Sahara 2019">Great Dane Sahara 2019</option>
        <option value="Sahara 2020">Great Dane Sahara 2020</option>
        <option value="Champion 2019">Great Dane Champion 2019</option>
        <option value="Champion 2020">Great Dane Champion 2020</option>
        <option value="Hy-Cube 2019">Hyundai Hy-Cube 2019</option>
        <option value="Hy-Cube 2020">Hyundai Hy-Cube 2020</option>
        <option value="Composite 2019">Hyundai Composite 2019</option>
        <option value="Composite 2020">Hyundai Composite 2020</option>
        <option value="Composite XT 2019">Hyundai Composite XT 2019</option>
        <option value="Composite XT 2020">Hyundai Composite XT 2020</option>
    

</select>

    <select name="Status">
        <option value="Available">Available</option>
        <option value="Not available">Not available</option>
        <option value="Coming soon">Coming soon</option>
    </select>
    
    <select name="Type">
        <option value="Van">Van</option>
        <option value="Flatbed">Flatbed</option>
        <option value="Reefer">Reefer</option>
    </select>

    <input type="submit" value="Add Trailer"/>
</form>