<form method="POST" action="/users">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <label for="Firstname">First Name</label>

<input id="Firstname"  type="text" value="{{ user.Firstname}}"/>

  <label for="Lastname">Last name</label>

<input id="Lastname"  type="text" value="{{ user.Lastname}}"/>

  <label for="Title">Title</label>

<input id="Title"  type="text" value="{{ user.Title}}"/>

      <label for="LoginId">Login</label>

<input id="LoginId" type="text" value="{{ user.LoginId}}"/>

    <input type="submit" value="Add Staff"/>
</form>