<form method="POST" action="/rucks/{{ truck.id }}?_method=PUT">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <input type="text" value="{{ truck.make }}" placeholder="Name" name="make"/>
    <input type="text" value="{{ truck.model }}" placeholder="Status" name="model"/>
    <input type="text" value="{{ issue.priority }}" placeholder="Priority" name="priority"/>

    <input type="submit" value="Update Issue"/>
</form>
