<form method="POST" action="/issues">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <input type="text" placeholder="Name" name="description"/>
    <input type="date" placeholder="Created at" name="createdAt"/>
    <input type="text" placeholder="Status" name="status"/>
    <input type="text" placeholder="Priority" name="priority"/>

    <input type="submit" value="Create Issue"/>
</form>